@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

.h1-font {
  font-size: 50px;
  font-weight: bold;
  line-height: 64px;
  color: #222;
  /* animation */
  overflow: hidden;
  /* Hide overflow to create typing effect */
  border-right: 2px solid #000;
  /* Create a cursor effect */
  white-space: nowrap;
  /* Prevent text from wrapping */
  animation: typing 2s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 30%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}
.h2-font {
  display: block;
  margin: 0;
  font-size: 46px;
  font-weight: bold;
  line-height: 54px;
  color: #222;
}

.h4-font {
  font-size: 20px;
  font-weight: bold;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 10px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

/*  Logo */
.logo {
  width: 50%;
  height: 50%;
}

/* Header Start */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #d4c1ba;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover {
  color: blue;
}

/* Home Page */
#hero {
  background: url(./img/hero.jpg) right center no-repeat;
  height: 75vh;
  background-size: 30%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* animation */
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#hero .h4-font {
  padding-bottom: 15px;
}

#hero .h1-font {
  color: #2ecc71;
}

#hero button {
  color: #34495e;
  padding: 14px 80px;
  background-color: #f4d03f;
  text-shadow: 0 1px 5px #333;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

#hero button:hover {
  box-shadow: 10px 10px 20px 0px rgba(150, 28, 28, 0.5);
}

/* Newsletter */
#newsLetter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #041e42;
  padding: 20px 30px;
  margin-top: 100px;
}

#newsLetter .h4-font {
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
}

#newsLetter p {
  color: #818ea0;
  font-weight: 600;
  font-size: 14px;
}

#newsLetter p span {
  color: #f4d03f;
}

#newsLetter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 6px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsLetter button {
  background-color: #088178;
  height: 3.125rem;
  padding: 1em 1.25em;
  border-radius: 6px;
  border: 1px solid transparent;
  font-weight: 800;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  text-shadow: 0 1px 5px #333;
}

#newsLetter button:hover {
  box-shadow: 10px 10px 20px 0px green;
}

#newsLetter .form {
  display: flex;
  width: 35%;
}

/* footer */
footer .logo,
img.secured-payments {
  display: block;
  margin: 0 20px 20px 50px;
  width: 35%;
  height: 35%;
}

img.badges {
  display: block;
  width: 80%;
  margin: 0 20px;
}

img.secured-payments {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  right: 2px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Align items to the start of the column */
  padding: 10px;
}

.col a {
  font-size: 15px;
  display: block;
  text-decoration: none;
  /* Remove underlines */
  margin-bottom: 5px;
  /* Add some spacing between links */
  color: #333;
  /* Set the text color */
}

footer .h4-font {
  font-size: 1.5rem;
  /* Adjust the font size as needed */
  font-weight: bold;
  /* Make the heading bold */
  margin-bottom: 10px;
  /* Add spacing below the heading */
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

/* Apply double width to the first column in the first row */
.col:first-child {
  grid-column: span 2;
  /* Double width */
}

.copy-right {
  grid-column: span 5;
  padding: 10px;
  text-align: center;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, min(350px));
  justify-content: space-around;
  gap: 5px;
  margin: 20px;
}

.grid-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  #header {
    padding: 15px;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  #navbar li {
    padding: 10px 0;
  }
  #hero {
    background-size: 50%;
    /* Adjust background size for smaller screens */
    padding: 0 20px;
    /* Adjust padding for smaller screens */
  }
  #hero button {
    padding: 10px 40px;
    /* Adjust button padding for smaller screens */
    font-size: 14px;
    /* Adjust button font size for smaller screens */
  }
}
